{% extends "_layout.html" %}

{% block body %}


<div class="container">
    <br>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="six columns">
                {{ form.username.label }}
                {{ form.username }}
                {% for error in form.username.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                {{ form.passwd.label }}
                {{ form.passwd }}
                {% for error in form.passwd.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <p style="color: red; margin:0;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <input class="button-primary" value="Login" type="submit">
    </form>
    {% endwith %}

    <div class="row">
        <p>Not a member? <a href="/register/">Register now</a>!</p>
    </div>
</div> {% endblock %}